<div class="modal-header">
    <h3 class="modal-title">Jobs</h3>
</div>
<div class="modal-body">
    <div ng-repeat="item in items">
        <label class="i-checks m-b-none">
            <input  type="checkbox" ng-click="bind(item.id)"><i ></i>
        </label><a>{{ item.title }}</a>
    </div>
    <span></span>
</div>
<div class="modal-footer">                  
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>