<form class=" form-horizontal" ng-submit="save_scheduler()">
    <div class="modal-header">
        <h5 class="modal-title">Spark 作业信息</h5>
    </div>
    <div class="modal-body">
        <input type="hidden" class="form-control" ng-model="scheduler.uuid">
        <input type="hidden" class="form-control" ng-model="scheduler.type">
        <input type="hidden" class="form-control" ng-model="scheduler.status">
        <alert ng-repeat="alert in alerts" type="{{ alert.type }}" close="closeAlert($index)">{{ alert.msg }}</alert>
        <div class="form-group">
            <label class="col-lg-3 control-label">名称:</label>

            <div class="col-lg-7">
                <input type="text" class="form-control" ng-model="scheduler.title">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">类型:</label>

            <div class="col-lg-7">
                <p class="form-control-static">{{ scheduler.type }}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">作业:</label>

            <div ng-if="scheduler.uuid!=undefined" class="col-lg-7">
                <p class="form-control-static">{{ scheduler.job.title }}</p>
            </div>

            <div ng-if="scheduler.uuid==undefined && scheduler.type=='SPARK'" class="col-lg-7">
                <ui-select ng-model="scheduler.job" theme="bootstrap">
                    <ui-select-match placeholder="选择Spark 作业">
                        {{$select.selected.title}}
                    </ui-select-match>
                    <ui-select-choices group-by="'type'" repeat="job in spark_jobs | filter: $select.search">
                        <span ng-bind-html="job.title | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">描述</label>

            <div class="col-lg-7">
                <textarea class="form-control" rows="5" ng-model="scheduler.description"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-info w-xs">保存</button>
        <button type="button" class="btn btn-default w-xs" ng-click="cancel()">取消</button>
    </div>
</form>
