<div ng-controller="SchedulerDetailCtrl">
    <!-- header -->
    <div class="wrapper bg-light lter b-b">
        <div class="pull-left btn-group  m-t-n-xs">
            <a ui-sref="scheduler.update({uuid:scheduler.uuid})" class="btn btn-sm btn-default w-xxs w-auto-xs">
                <i class="fa fa-archive"></i>编辑
            </a>
            <button class="btn btn-sm btn-default w-xxs w-auto-xs" ng-click="delete(scheduler)">
                <i class="fa fa-trash-o"></i>删除
            </button>
        </div>
        &nbsp;
    </div>
    <!-- / header -->
    <div class="wrapper-md ng-scope">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        <div class="panel panel-default">
            <!--<div class="panel-heading">
                <div class="clearfix" style="min-height: 80px;">
                    <a href="" class="pull-left thumb-md b-3x m-r">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-linux fa-stack-2x"></i>
                        </span>
                    </a>

                    <div class="clear">
                        <div class="h3 m-t-xs m-b-xs">
                            {{ scheduler.title }}
                        </div>
                        <small class="text-muted" ng-bind-html="scheduler.description"></small>
                    </div>
                </div>
            </div>-->
            <footer class="panel-footer bg-info text-center no-padder">
                <!--<div class="row no-gutter">
                    <div class="col-xs-4">
                        <div class="wrapper">
                            <small class="text-muted">处理器</small>
                            <span class="m-b-xs h3 block text-white">{{ scheduler.cpu }}</span>
                        </div>
                    </div>
                    <div class="col-xs-4 dk">
                        <div class="wrapper">
                            <small class="text-muted">内核</small>
                            <span class="m-b-xs h3 block text-white">{{ scheduler.core }}</span>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="wrapper">
                            <small class="text-muted">内存</small>
                            <span class="m-b-xs h3 block text-white">{{ scheduler.men }}</span>
                        </div>
                    </div>
                </div>-->
            </footer>
            <div class="panel-body">
                <form class="form-horizontal ng-pristine ng-valid ng-valid-date ng-valid-required ng-valid-parse ng-valid-date-disabled"
                      method="get">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">创建时间:</label>

                        <div class="col-lg-10">
                            <p class="form-control-static">{{ scheduler.created_time | date:'yyyy-MM-dd hh:MM:ss' }}</p>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">执行周期或时间:</label>

                        <div class="col-lg-10">
                            <p class="form-control-static">{{ scheduler.cron }}</p>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">用户名:</label>

                        <div class="col-lg-10">
                            <p class="form-control-static">{{ scheduler.name }}</p>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">详细信息:</label>

                        <div class="col-lg-10">
                            <p class="form-control-static">{{ scheduler.msg }}</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>