<div ng-controller="ServerDetailCtrl">
    <div ng-if="server != undefined">
        <!-- header -->
        <div class="wrapper bg-light lter b-b">
            <div class="pull-right btn-group  m-t-n-xs">
                <a ui-sref="app.server.update({uuid:server.uuid})" class="btn btn-sm btn-info w-xxs w-auto-xs">
                    <i class="fa fa-archive"></i>编辑
                </a>
                <button class="btn btn-sm btn-warning w-xxs w-auto-xs" ng-click="delete(server)">
                    <i class="fa fa-trash-o"></i>删除
                </button>
            </div>
            &nbsp;
        </div>
        <!-- / header -->
        <div class="wrapper-md ng-scope">
            <alert ng-repeat="alert in alerts" type="{{ alert.type }}"
                   close="closeAlert($index)">{{ alert.msg }}</alert>
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ server.title }}
                </div>
                <div class="panel-body">
                    <form class="form-horizontal ng-pristine ng-valid ng-valid-date ng-valid-required ng-valid-parse ng-valid-date-disabled"
                          method="get">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">服务器地址:</label>

                            <div class="col-lg-10">
                                <p class="form-control-static">{{ server.host }}</p>
                            </div>
                        </div>
                        <div class="line line-dashed b-b line-lg pull-in"></div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">服务器版本:</label>

                            <div class="col-lg-4">
                                <p class="form-control-static">{{ server.version.name }}</p>
                            </div>
                            <label class="col-lg-2 control-label">服务器类型:</label>

                            <div class="col-lg-4">
                                <p class="form-control-static">{{ server.type }}</p>
                            </div>
                        </div>
                        <div class="line line-dashed b-b line-lg pull-in"></div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">线程:</label>

                            <div class="col-lg-4">
                                <p class="form-control-static">{{ server.processor }}</p>
                            </div>
                            <label class="col-lg-2 control-label">内存:</label>

                            <div class="col-lg-4">
                                <p class="form-control-static">{{ server.memory }}</p>
                            </div>
                        </div>
                        <div class="line line-dashed b-b line-lg pull-in"></div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">登陆方式:</label>

                            <div class="col-lg-4">
                                <p class="form-control-static">密码访问</p>
                            </div>
                            <label class="col-lg-2 control-label">用户名:</label>

                            <div class="col-lg-4">
                                <p class="form-control-static">{{ server.name }}</p>
                            </div>
                        </div>
                        <div class="line line-dashed b-b line-lg pull-in"></div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">附件存储路径:</label>

                            <div class="col-lg-10">
                                <p class="form-control-static">{{ server.path }}</p>
                            </div>
                        </div>
                        <div class="line line-dashed b-b line-lg pull-in"></div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">服务器描述:</label>

                            <div class="col-lg-10">
                                <div class="form-control-static" ng-bind-html="server.description"></div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="hbox text-center b-b b-light text-sm b-t">
                    <a href="" ng-click="testServer()" class="col padder-v text-muted b-r b-light">
                        <i class="fa fa-play block m-b-xs fa-2x"></i>
                        <span>测试</span>
                    </a>
                    <a href="" ng-click="open_term()" class="col padder-v text-muted b-r b-light">
                        <i class="fa fa-terminal block m-b-xs fa-2x"></i>
                        <span>终端</span>
                    </a>
                    <div class="col padder-v text-muted">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>