<!-- hbox layout -->
<div class="hbox hbox-auto-xs bg-light " ng-controller="ServerCtrl">
    <!-- column -->
    <div class="col w-lg lt b-r bg-auto">
        <div class="vbox">
            <div class="wrapper">
                <a ui-sref="app.server.add" class="pull-right btn btn-sm btn-info m-t-n-xs"><i class="fa fa-plus"></i>添加</a>

                <div class="h4">服务器</div>
            </div>
            <div class="wrapper b-t m-t-xxs">
                <div class="input-group">
                    <span class="input-group-addon input-sm"><i class="fa fa-search"></i></span>
                    <input type="text" class="form-control input-sm" placeholder="search" ng-model="query">
                </div>
            </div>
            <div class="row-row">
                <div class="cell scrollable hover">
                    <div class="cell-inner">
                        <div class="padder">
                            <div class="list-group">
                                <a ng-repeat="server in servers | filter:query | orderBy:'created_time':true"
                                   class="list-group-item b-l-{{ server.color || 'info'}} b-l-3x hover-anchor"
                                   ng-class="{'hover': server.selected }" ng-click="selectServer(server)">
                                    <span class="block text-ellipsis h6">{{ server.title ? server.title : '无' }}</span>
                                    <small class="text-muted block m-t-xs">
                                        {{ server.created_time | date:'yyyy-MM-dd' }}</small>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /column -->

    <!-- column -->
    <div class="col">
        <div ui-view>
        </div>
    </div>
    <!-- /column -->
</div>
<!-- /hbox layout -->


<!-- modal -->
<script type="text/ng-template" id="serverModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">提示</h3>
    </div>
    <div class="modal-body">
        <b>{{ message.content }}</b>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">关闭</button>
    </div>
</script>
<!-- /modal -->

<!-- modal -->
<script type="text/ng-template" id="serverConfirmContent.html">
    <div class="modal-header">
        <h3 class="modal-title">提示</h3>
    </div>
    <div class="modal-body">
        <b>{{ message.content }}</b>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">确定</button>
        <button class="btn btn-warning" ng-click="cancel()">取消</button>
    </div>
</script>
<!-- /modal -->
