<div ng-controller="ServerEditCtrl">
    <!-- header -->
    <div class="wrapper bg-light lter b-b">
        <a ui-sref="server.manager" class="pull-left btn btn-sm btn-default  m-t-n-xs"><i
                class="fa fa-long-arrow-left"></i>取消</a>
        &nbsp;
    </div>
    <!-- / header -->
    <div class="wrapper">
        <form name="newServer" class="form-horizontal m-t-lg" ng-submit="saveServer()">
            <input type="hidden" class="form-control" ng-model="server.uuid">
            <input type="hidden" class="form-control" ng-model="server.cpu">
            <input type="hidden" class="form-control" ng-model="server.core">
            <input type="hidden" class="form-control" ng-model="server.men">

            <div class="form-group">
                <label class="col-lg-2 control-label">名称:</label>

                <div class="col-lg-8">
                    <input type="text" class="form-control" ng-model="server.title">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">服务器地址:</label>

                <div class="col-lg-4">

                    <ui-select ng-model="server.version" theme="bootstrap">
                        <ui-select-match placeholder="选择或检索服务器类型">
                            {{$select.selected.name}}
                        </ui-select-match>
                        <ui-select-choices group-by="'type'" repeat="item in versions | filter: $select.search">
                            <span ng-bind-html="item.name | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>

                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">服务器地址:</label>

                <div class="col-lg-4">
                    <input type="text" class="form-control" ng-model="server.host" popover="I appeared on mouse enter!" popover-placement="right">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">用户名:</label>

                <div class="col-lg-4">
                    <input type="text" class="form-control" ng-model="server.name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">密码:</label>

                <div class="col-lg-4">
                    <input type="password" class="form-control" ng-model="server.password">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">描述</label>

                <div class="col-sm-10">
                    <div text-angular ng-model="server.description" class="btn-groups h-auto"
                         style="min-height:200px;"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-8 col-lg-offset-2">
                    <button type="button" ng-click="testServer()" class="btn btn-info w-xs">测试</button>
                    <button ng-disabled="server.success" class="btn btn-info w-xs">保存</button>
                </div>
            </div>
        </form>
    </div>
</div>