<div ng-controller="SparkRunningListCtrl" ng-init="app.hideAside = true;">
    <!-- header -->
    <div class="wrapper bg-light lter b-b">
        <div class="h4">Spark 运行中作业</div>
    </div>
    <!-- / header -->
    <div class="wrapper-md ng-scope">
        <alert ng-repeat="alert in alerts" type="{{ alert.type }}"
               close="closeAlert($index)">{{ alert.msg }}</alert>
        <div class="panel panel-default">
            <div class="panel-heading">
                作业列表
            </div>
            <div class="panel-body table-responsive">
                <table ng-if="dt_option!=undefined" id="running" ui-jq="dataTable" ui-options="dt_option"
                       ui-controller="jobGrid"
                       class="table table-striped m-b-none">
                </table>
            </div>
        </div>
    </div>
</div>