<!-- navbar -->
<div data-ng-include=" 'static/tpl/blocks/header.html' " class="app-header navbar">
</div>
<!-- / navbar -->

<!-- menu -->
<div data-ng-include=" 'static/tpl/blocks/aside.html' " class="app-aside hidden-xs {{ app.settings.asideColor }}"
     ng-class="{'hide': app.hideAside }">
</div>
<!-- / menu -->

<!-- view -->
<div class="app-content" ng-class="{'m-n': app.hideAside, 'h-full': app.hideFooter }">
    <div class="app-content-body fade-in-up" ng-class="{'h-full': app.hideFooter }">
        <!-- hbox layout -->
        <div class="hbox hbox-auto-xs bg-light " ng-init="
                                          app.settings.asideFixed = true;
                                          app.settings.asideDock = false;
                                          app.settings.container = false;
                                          app.hideAside = false;
                                          app.hideFooter = true;
                                          " ng-controller="DatabaseCtrl">
            <!-- column -->
            <div class="col w-lg lt b-r ng-scope">
                <div class="wrapper b-b">
                    <div class="h4">数据库链接</div>
                </div>
                <div class="vbox">
                    <div class="row-row">
                        <div class="wrapper-md" ng-init="reload()">
                            <span ng-if="doing_async">...loading...</span>
                            <abn-tree ng-show="doing_async==false"
                                      tree-data="my_data"
                                      tree-control="my_tree"
                                      on-select="my_tree_handler(branch)"
                                      expand-level="3"
                                      initial-selection="Granny Smith"
                                      icon-leaf=""
                                      icon-expand="fa fa-plus"
                                      icon-collapse="fa fa-minus"
                            >
                            </abn-tree>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /column -->

            <!-- column -->
            <div class="col">
                <!-- header -->
                <div class="wrapper bg-light lter b-b">
                    <div class="pull-right btn-group  m-t-n-xs">
                        <a ui-sref="server.update({uuid:server.uuid})" class="btn btn-sm btn-default w-xxs w-auto-xs">
                            <i class="fa fa-archive"></i>
                        </a>
                        <button class="btn btn-sm btn-default w-xxs w-auto-xs" ng-click="delete(server)">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </div>
                    {{ title }}&nbsp;
                </div>
                <!-- / header -->
                <div class="wrapper-md ng-scope" ui-view>
                </div>
            </div>
            <!-- /column -->
        </div>
        <!-- /hbox layout -->
    </div>
</div>
<!-- / view -->
<!-- navbar -->
<div class="app-footer navbar navbar-fixed-bottom bg-light lt b-t"
     ng-class="{'m-n': app.hideAside, 'hide': app.hideFooter}" ui-view="footer">


</div>
<!-- /navbar -->


<!-- footer -->
<div class="app-footer wrapper b-t bg-light">
    <span class="pull-right">版本:{{ app.version }} <a href ui-scroll="app" class="m-l-sm text-muted"><i
            class="fa fa-long-arrow-up"></i></a></span>
    {{ app.name }} <br/>
    &copy; 2015 版权所有 {{ app.company }}
</div>
<!-- / footer -->

<div data-ng-include=" 'static/tpl/blocks/settings.html' " class="settings panel panel-default">
</div>

<!-- modal -->
<script type="text/ng-template" id="serverModalContent.html">
    <div class="modal-header">
        <h4 class="modal-title" ng-class="theme">提示</h4>
    </div>
    <div class="modal-body" ng-class="theme" ng-bind-html="message.content">
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()">关闭</button>
    </div>
</script>
<!-- /modal -->

<!-- modal -->
<script type="text/ng-template" id="serverConfirmContent.html">
    <div class="modal-header">
        <h4 class="modal-title">提示</h4>
    </div>
    <div class="modal-body">
        <b>{{ message.content }}</b>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">确定</button>
        <button class="btn btn-warning" ng-click="cancel()">取消</button>
    </div>
</script>
<!-- /modal -->
