<!-- hbox layout -->
<div class="hbox hbox-auto-xs bg-light " ng-controller="DatabaseCtrl">
    <!-- column -->
    <div class="col w-lg lt b-r ng-scope bg-auto">
        <div class="wrapper b-b">
            <button type="button" ng-click="reload()" class="pull-right btn btn-sm btn-info m-t-n-xs">
                <i class="fa fa-refresh"></i>刷新
            </button>

            <div class="h4">数据库链接</div>
        </div>
        <div class="vbox">
            <div class="row-row">
                <div class="wrapper-md" ng-init="reload()">
                    <span ng-if="doing_async">数据加载中...</span>
                    <abn-tree ng-show="doing_async==false"
                              tree-data="my_data"
                              tree-control="my_tree"
                              on-select="my_tree_handler(branch)"
                              expand-level="3"
                              initial-selection="Granny Smith"
                              icon-leaf=""
                              icon-expand="fa fa-plus"
                              icon-collapse="fa fa-minus"
                    >
                    </abn-tree>
                </div>
            </div>
        </div>
    </div>
    <!-- /column -->

    <!-- column -->
    <div class="col">
        <!-- header -->
        <div class="wrapper bg-light lter b-b">

            <button ng-if="branch.type.indexOf('folder') == 0"
                    class="pull-right btn btn-sm btn-default m-t-n-xs m-l-xs"
                    ng-click="import_table(branch)">
                <i class="glyphicon glyphicon-import"></i>数据表
            </button>

            <div class="pull-right btn-group  m-t-n-xs m-l-xs">
                <button ng-if="branch.type=='database'" class="btn btn-sm btn-default"
                        ng-click="add_folder(branch.data.uuid)">
                    <i class="fa fa-plus"></i>目录
                </button>
                <button ng-if="branch.type=='folder'" class="btn btn-sm btn-default"
                        ng-click="edit_folder(branch)">
                    <i class="fa fa-pencil"></i>目录
                </button>
                <button ng-if="branch.type=='folder'" class="btn btn-sm btn-default"
                        ng-click="delete_folder(branch)">
                    <i class="glyphicon glyphicon-trash"></i>目录
                </button>
            </div>

            <div class="pull-right btn-group  m-t-n-xs">
                <button ng-if="branch.type=='root'" class="btn btn-sm btn-default" ng-click="add_database()">
                    <i class="fa fa-plus"></i>链接
                </button>
                <button ng-if="branch.type=='database'" class="btn btn-sm btn-default"
                        ng-click="edit_database(branch)">
                    <i class="fa fa-pencil"></i>链接
                </button>
                <button ng-if="branch.type=='database'" class="btn btn-sm btn-default"
                        ng-click="delete_database(branch)">
                    <i class="glyphicon glyphicon-trash"></i>链接
                </button>
            </div>

            {{ branch.label }}&nbsp;
        </div>
        <!-- / header -->
        <div class="wrapper-md ng-scope" ui-view>
        </div>
    </div>
    <!-- /column -->
</div>
<!-- /hbox layout -->
