<form class=" form-horizontal" ng-submit="import()">
    <div class="modal-header">
        <h5 class="modal-title">数据表信息</h5>
    </div>
    <div class="modal-body">
        <input type="hidden" class="form-control" ng-model="table.db_uuid">
        <input type="hidden" class="form-control" ng-model="table.folder_uuid">
        <alert ng-repeat="alert in alerts" type="{{ alert.type }}" close="closeAlert($index)">{{ alert.msg }}</alert>
        <div class="form-group">
            <label class="col-lg-3 control-label">表名称:</label>

            <div class="col-lg-7">
                <input type="text" class="form-control" ng-model="search">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">数据表:</label>

            <div class="col-lg-7">
                <select multiple size="10" class="form-control" ng-model="table.names">
                    <option ng-repeat="table_name in table_names | filter:search"
                            value="{{ table_name }}">{{ table_name }}</option>
                </select>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-info w-xs">保存</button>
        <button type="button" class="btn btn-default w-xs" ng-click="cancel()">取消</button>
    </div>
</form>
